mongodb:
    url: mongodb://localhost:27017/
    database: hatemap
    collection: p
criteria:
    #MANDATORY
    #It's mandatory to fill in both fields

    #Specify which attribute among those that make up a document you want it to represent the source node of the edge list
    #Allowed values: author_username, hashtag
    source: author_username

    #Specify which attribute among those that make up a document you want it to represent the target node of the edge list
    #Allowed values: user_mentioned; hashtag; user_retweeted
    target: user_mentioned